@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(11, 11, 34);
  color: white;
}
.article__class {
  @apply prose prose-zinc mx-auto flex flex-col items-center justify-center text-white prose-h1:text-center prose-h1:text-3xl prose-h1:font-bold prose-h1:text-white prose-h2:text-center prose-h2:font-bold prose-h2:text-teal-400
  prose-h3:text-center prose-h3:font-normal prose-h3:text-white prose-p:py-8 prose-blockquote:text-center prose-blockquote:font-semibold
 prose-blockquote:text-white prose-ul:list-disc prose-ul:indent-6 prose-img:rounded-3xl;
}

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
